<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Credential Request</title>
</head>
<body>

<h2>Credential Request</h2>

<span th:text="${credentialrequest.sender} + ' is requesting the following attributes and scopes '">msg</span>
<span th:text="'for the following purpose(s) ' + ${credentialrequest.purpose}">msg</span>
    <div>
        <h3>Attributes</h3>
        <ol>
            <li th:each="attribute : ${credentialrequest.requestedattributes}">

            <span th:text="${attribute}">msg</span>

            </li>
        </ol>
    </div>

    <div>
        <h3>Scopes</h3>
        <ol>
            <li th:each="scope : ${credentialrequest.requestedscopes}">

                <span th:text="${scope}">msg</span>

            </li>
        </ol>
    </div>

<a class="btn" th:href="@{/}">close</a>


<a class="btn" th:href="@{/deletecredentialrequest/{id} (id=${credentialrequest.identifier})}">Delete</a>
<a class="btn" th:href="@{/issuecredential/{id} (id=${credentialrequest.identifier})}">Issue</a>
</body>
</html>