<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head lang="en">
    <meta charset="UTF-8" />
    <title>Claim details</title>
</head>
<body>

<h2>Credential</h2>

<textarea id="myTextarea" name="something" cols="50" rows="40">Blaah blaah blaah</textarea>

<script th:inline="javascript">
        document.getElementById('myTextarea').value = JSON.stringify(JSON.parse([[${credential.credential}]]),null, 2);
</script>

<a class="btn" th:href="@{/}">close</a>

</body>
</html>